<div [formGroup]="formGroup">
  <mat-form-field class="full-width">
    <textarea matInput
           [placeholder]="titulo"
           [name]="controlName"
           [formControlName]="controlName">
    </textarea>
    
    <mat-error *ngIf="validacao.hasErrorValidar(formControl,'required')">campo obrigatório</mat-error>

    <mat-error *ngIf="validacao.hasErrorValidar(formControl,'minlength')">
      mín. {{ validacao.lengthValidar(formControl, 'minlength') }} caracteres
    </mat-error>

    <mat-error *ngIf="validacao.hasErrorValidar(formControl,'maxlength')">
      máx. {{ validacao.lengthValidar(formControl, 'maxlength') }} carateres
    </mat-error>
  </mat-form-field>
</div>
